# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Happy Belly Bioinformatics
email: Leemd@usc.edu
author: Mike Lee
description: >
   Hoping to help level out the steep learning curve
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://AstrobioMike.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: AstrobioMike
github_username:  AstrobioMike

# google analytics, setup from these instructions: https://desiredpersona.com/google-analytics-jekyll/
google_analytics: "UA-110574647-1"

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-redirect-from

highlighter: rouge

whitelist:
  - jekyll-redirect-from

# Exclude from processing.  # 
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
