<div class="fancy-hList-div">
  <ul class="fancy-hList">
    <li>
      <a href="{{ site.url }}/bash/" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #745bab;">Bash</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{{ site.url }}/bash/">bash home</a></li>
          <li><a href="{{ site.url }}/bash/basics">bash basics</a></li>
          <li><a href="{{ site.url }}/bash/six_commands">six glorious commands</a></li>
          <li><a href="{{ site.url }}/bash/installing_tools">Installing tools</a></li>
          <li><a href="{{ site.url }}/bash/modifying_your_path">Modifying your PATH</a></li>
          <li><a href="{{ site.url }}/bash/loops_to_help">Loops can help</a></li>
          <li><a href="{{ site.url }}/bash/one_liners">Useful one-liners</a></li>
          <li><a href="{{ site.url }}/bash/why">Why is this all worth it?</a></li>
        </ul>
    </li>
    <li>
      <a href="{{ site.url }}/R/" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #0000cc;">R</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{{ site.url }}/R/">R home</a></li>
          <li><a href="{{ site.url }}/R/basics">R basics</a></li>
          <li><a href="{{ site.url }}/R/more_indexing">More on indexing</a></li>
          <li><a href="{{ site.url }}/R/installing_packages">Installing R packages</a></li>
        </ul>
    </li>
    <li>
      <a href="{{ site.url }}/amplicon/" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #d64231;">Amplicon analysis</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{{ site.url }}/amplicon/">Amplicon Home</a></li>
          <li><a href="{{ site.url }}/amplicon/caveats">Caveat Central</a></li>
          <li><a href="{{ site.url }}/amplicon/workflow_ex">Example workflow</a></li>
        </ul>
    </li>
    <li>
      <a href="{{ site.url }}/metagenomics/" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #5bab87;">Metagenomics</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{{ site.url }}/metagenomics/thoughts">Metagenomics Home</a></li>
          <li><a href="{{ site.url }}/metagenomics/thoughts">Opening thoughts</a></li>
          <li><a href="{{ site.url }}/metagenomics/quality_filtering">QC and normalization</a></li>
        </ul>
    </li>
  </ul>
</div>

<!-- 
    <li>
      <a href="{{ site.url }}/R/" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #0000ff;">R</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{{ site.url }}/R/basics">R basics</a></li>
        </ul>
    </ul>
 -->