<div class="fancy-hList-div">
  <ul class="fancy-hList">
    <li>
      <a href="{{ site.url }}/bash/" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #745bab;">Bash</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{{ site.url }}/bash/basics">bash basics</a></li>
          <li><a href="{{ site.url }}/bash/six_commands">6 glorious commands</a></li>
          <li><a href="{{ site.url }}/bash/pipes_redirectors">Pipes and redirectors</a></li>
          <li><a href="{{ site.url }}/bash/installing_tools">Installing tools</a></li>
          <li><a href="{{ site.url }}/bash/modifying_your_path">Modifying your PATH</a></li>
          <li><a href="{{ site.url }}/bash/loops_to_help">Loops to help</a></li>
        </ul>
    </li>
    <li>
      <a href="{{ site.url }}/amplicon/" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #d64231;">Amplicon analysis</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{{ site.url }}/amplicon/thoughts">Opening thoughts</a></li>
          <li><a href="{{ site.url }}/amplicon/workflow_ex">Example workflow</a></li>
        </ul>
    </li>
    <li>
      <a href="{{ site.url }}/metagenomics/" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #5bab87;">Metagenomics</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{{ site.url }}/metagenomics/thoughts">Opening thoughts</a></li>
          <li><a href="{{ site.url }}/metagenomics/quality_filtering">Quality filtering</a></li>
        </ul>
    </li>
  </ul>
</div>
