<!-- Twitter Cards -->
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">{% endif %}
{% if site.owner.twitter %}<meta name="twitter:site" content="@{{ site.owner.twitter }}">{% endif %}
{% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter }}">{% endif %}
{% if page.image.feature %}
<meta name="twitter:card" content="summary_large_image">
{% capture text %}{{ page.image.feature | slice: 0, 4 }}{% endcapture %}
{% capture link %}{% if text == 'http' %}{{ page.image.feature }}{% else %}{{ site.url }}/images/{{ page.image.feature }}{% endif %}{% endcapture %}
<meta name="twitter:image" content="{{ link }}">
<meta property="og:image" content="{{ link }}">
{% else %}
{% capture text %}{{ page.image.thumb | slice: 0, 4 }}{% endcapture %}
{% capture link %}{% if page.image.thumb %}{% if text == 'http'%}{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ page.image.thumb }}{% endif %}{% else %}{{ site.url }}/images/uchicago-mbl.png{% endif %}{% endcapture %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ link }}">
<meta property="og:image" content="{{ link }}">
{% endif %}

<!-- Open Graph -->
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html }}">{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">
