// ==========================================================================
//    Page layout
// ==========================================================================

body {
  background-color: $bodycolor;
  font-family: $base-font;
  color: $text-color;
}

p {
  line-height: 1.5em;
}


//    Header
// ==========================================================================


thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
// 
// table {
//   display: block;
//   width: 100%;
//   overflow: auto;
//   word-break: normal;
//   font-family: monospace;
// }
// 
// table tr:nth-child(2n) {
//   background-color: #f8f8f8;
// }
// 
// table tr {
//   background-color: #fff;
//   border-top: 1px solid #ccc;
// }
// 
// table.js-file-line-container tr {
//     border: 0px;
// }
// 
// th, td {
//   padding: 6px 13px;
//   border: 1px solid #ddd;
// }

.category-box {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 0.2em;
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 20px;
    @media #{$micro} {
        display: none;
    }
    @media #{$small} {
        display: none;
    }
    @media #{$medium} {
    display: block;
    }
    @media #{$large} {
    display: block;
    }
    @media #{$x-large} {
    display: block;
    }
}

.category-item {
    margin: 2px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.2em;
    background-color: #DDD;
    text-transform: uppercase;
    font-family: $heading-font;
    font-weight: 700;
}

.navigation-wrapper {
    @include container;
    padding: 2em 0 1em;
    font-family: $heading-font;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FEFEFE;
    border-bottom: 1px solid #DEDEDE;
    @include clearfix;
    background: url('../../images/fractal.jpg') center center scroll;
}

.quotable {
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: justify;
    font-variant: small-caps;
    border-left: 7px solid #828282;
    padding: 8px;
    padding-left: 10px;
    background: url('../../images/fractal.jpg') center center scroll;
    color: #464646;
}

.people {
    @include grid(12,12);
    @include prefix(12,0);
    @include suffix(12,0);
    margin-bottom: 1em;
    @media #{$small} {
        @include grid(12,6);
        @include prefix(12,0);
        @include suffix(12,0);
    }
    @media #{$x-large} {
    }
}

.page-author-social-box {
    border-radius: 0.2em;
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 3px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.social-box {
    border-radius: 0.2em;
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.person-social {
    font-size: 80%;
}

.pub {
    margin: 5px 0px;
    h3 {
        margin-bottom: 0;
    }
    p {
        font-size: 90%;
        font-style: italic;
    }
    a, a:hover {
        font-size: 80%;
        border-bottom: 0 solid transparent;
    }
}

.pub-authors {
  display: block;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
  font-variant: small-caps;
  color: rgb(102, 102, 102);
}

.pub-member-author {
  color: black;
  font-weight: bolder;
}

.pub-journal {
  background-color: rgb(244, 244, 244);
  display: block;
  text-align: right;
  border-radius: 10px;
  padding: 4px;
  padding-right: 14px;
  font-size: small;
}

.pub-info {
    background-color: #fffffa;
    border: 1px #f4f4f4 solid;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 4px;
    font-size: small;
    min-height: 100px;
}

.pub-info-no-image {
    background-color: #fffffa;
    border: 1px #f4f4f4 solid;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 24px;
    border-radius: 10px;
    padding: 4px;
    padding-right: 14px;
    font-size: small;
}

.pub-featured-image {
  width: 100px;
  padding: 5px;
  float: left;
}

.pub-highlights {
  padding-left: 115px;
}

.pub-highlights a, .pub-highlights a:hover {
        font-size: 100%;
        text-decoration: underline;
    }


.pub-highlights-no-image {
    padding-left: 5px;
}

.page-author {
  margin-left: 15%;
  margin-bottom: 1em;
}

.authored {
  margin-bottom: 0px;
  line-height: 1.2em;
}

.centerimg {
  text-align: center;
  margin-bottom: 1em;
}

.center-img {
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  display: block;
}

.extra-info {
    width: 90%;
    margin: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    background: aliceblue;
}

.extra-info-header {
    border-bottom: 1px solid gray;
    display: block;
    margin-bottom: 10px;
    font-variant: small-caps;
    font-weight: bold;
}

.page-author-info {
    h3 {
        margin-bottom: 0;
        color: rgb(98, 98, 98);
    }
    p {
        font-size: 90%;
        font-style: italic;
    }
    a, a:hover {
        font-size: 80%;
        border-bottom: 0 solid transparent;
    }
}

.person-affiliations {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 20px;
  padding: 5px;
  font-size: 1em;
  font-family: HelveticaNeue-Thin;
  border: 1px dashed #e4e4e4;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #fbfbfb;
}

.person-affiliations li:before {
    content: "»";
    padding-right: 5px;
}

#aff-link {
    font-size: 1em;
    color: #1111AA;
}


.person {
    min-height: 150px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F4F4F4;
}

.person-role {
  font-weight: lighter;
  opacity: .5;
}

.person-info {
    margin-right: 30px;
    h3 {
        margin-bottom: 0;
    }
    p {
        font-style: italic;
    margin-bottom: 12px;
    margin-top: 12px;
    color: #a7a7a7;
    }
}

.persons-title {
  font-size: xx-large;
  font-variant: small-caps;
  margin-top: 65px;
  border-bottom: 1px solid black;
}

.person-photo {
    float: left;
    min-width: 120px;
    width: 120px;
    @media #{$micro} {
        display: none;
    }
    @media #{$small} {
        display: none;
    }
    @media #{$medium} {
    display: -webkit-box;
    }
    @media #{$large} {
    display: -webkit-box;
    }
    @media #{$x-large} {
    display: -webkit-box;
    }
}

.person-photo-img {
    @include rounded(150px);
    max-width: 110px;
    height: 110px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    @media #{$small} {
        @include rounded(100px);
    }
    @media #{$x-large} {
    }
}

.mission {
  display: block;
  margin-bottom: 2em;
  margin-top: 2em;
  font-variant: small-caps;
  text-align: justify;
  font-size: x-large;
  background: url('../images/fractal.jpg') center center scroll;
  border-radius: 20px;
  padding: 10px 20px;
}

// Site name
.site-name {
    @include grid(12,10);
    @include prefix(12,1);
    @include suffix(12,1);
    margin-bottom: 1em;
    float: none;
    display: block;
    @include font-rem(24);
    @media #{$small} {
        @include grid(12,1);
        @include prefix(12,0.5);
        @include suffix(12,0.5);
        @include font-rem(16);
    }
    @media #{$x-large} {
    }
}

// Top navigation links
.top-navigation {
    @include grid(12,10);
    @include prefix(12,1);
    @include suffix(12,1);
    margin-bottom: 0em;
    float: none;
    display: block;
    @media #{$small} {
        @include grid(12,9);
        @include prefix(12,0);
        @include suffix(12,0);
    }
    @media #{$x-large} {
    }
    ul {
        margin: 0;
        padding: 0;
        clear: both;
        list-style-type: none;
    }
    li {
        display: block;
        list-style-type: none;
        border-bottom: 1px solid lighten($black,80);
        border-bottom: 1px solid fade($black,10);
        @include font-rem(16);
        &:last-child {
            border-bottom: 0 solid transparent;
        }
        @media #{$small} {
            display: inline;
            margin-right: 25px;
            white-space: nowrap;
            border-bottom: 0 solid transparent;
        }
        a { 
            display: block;
            padding: 0px 0;
            decoration: none;
            border-bottom: 0 solid transparent;
            @include transition(all .2s);
            @media #{$medium} {
                display: inline;
                padding: 0;
            }
            @media #{$small} {
                display: inline;
                padding: 0;
            }
        }
    }
}

// Animated lines for mobile nav button
$button-size: 1.5rem;
@mixin navicon-line() {
    display: inline-block;
    width: $button-size;
    height: $button-size/7;
//     line color
    background: $white;
    border-radius: $button-size/14;
    transition: .3s;
}
.navicon-lines-button {
    padding: $button-size/4 $button-size/2;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: $button-size/7;
}
.navicon-lines-button:hover {
    opacity: 1;
}
.navicon-lines-button:active {
    transition: 0;
}
.navicon-lines {
    margin-right: 10px;
    margin-bottom: $button-size/5;
//      create middle line
    @include navicon-line;
    position: relative;
//      create the upper and lower lines as pseudo-elements of the middle line
    &:before,
    &:after {
        @include navicon-line;
        position: absolute;
       left: 0;
       content: '';
       -webkit-transform-origin: $button-size/14 center;
       transform-origin: $button-size/14 center;
    }
    &:before { top: $button-size/4; }
    &:after { top: -$button-size/4; }
}
.navicon-lines-button:hover {
    opacity: 1;
    .navicon-lines {
      &:before { top: $button-size/3.5; }
      &:after { top: -$button-size/3.5; }
    }
}
.navicon-lines-button.x.active .navicon-lines {
//     hide the middle line
    background: transparent;
//     overlap the lines by setting both their top values to 0
    &:before,
   &:after {
       -webkit-transform-origin: 50% 50%;
       transform-origin: 50% 50%;
       top: 0;
       width: $button-size;
    }
//       rotate the lines to form the x shape
    &:before {
      -webkit-transform: rotate3d(0,0,1,45deg);
      transform: rotate3d(0,0,1,45deg);
    }
    &:after {
      -webkit-transform: rotate3d(0,0,1,-45deg);
      transform: rotate3d(0,0,1,-45deg);
    }
}
//  Style the toggle menu link and hide it
.nav .navtoogle {    
    @include font-rem(18);
    font-weight: normal;
    background-color: $black;
    color: $white;    
    border: none;
    cursor: pointer;
    @media #{$small} {
        display: none;
    }
}
.nav button {
    border: none;
    background: none;
}
.navtoogle i {
    z-index:-1;
}
.icon-menu {
    position: relative;
    top: 3px;
    line-height: 0;
}
//  When JavaScript is disabled, we hide the toggle button
.no-js .nav .navtoggle {
    display: none;
}
//   When JavaScript is disabled, we show the menu
.no-js .nav ul {
    max-height: 30em;
    overflow: hidden;
}
//  When JavaScript is enabled, we hide the menu
.js .nav ul {
    max-height: 0;
    overflow: hidden;
    @media #{$small} {
        max-height: 30em;
    }
}
//  Displaying the menu when the user has clicked on the button
.js .nav .active + ul {
    max-height: 30em;
    overflow: hidden;
    -webkit-transition: max-height .4s;
    -moz-transition: max-height .4s;
    -o-transition: max-height .4s;
    -ms-transition: max-height .4s;
    transition: max-height .4s;
}

// Main content
#main {
    counter-reset: captions;
    @include container;
    @include clearfix;
    clear: both;
    margin-top: 0;
    padding-left: 20px;
    box-sizing: border-box;
    h1 {
        margin-top: 0;
    }
    .post,
    .page {
        @include container;
        @include grid(12,10);
        @include prefix(12,0);
        @include suffix(12,0);
        margin-bottom: 1em;
        @media #{$small} {
            @include grid(12,6);
            @include prefix(12,0);
            @include suffix(12,0);
        }
        @media #{$x-large} {
        }
    }
}

#main .post {
  margin-top: 2em;
}

// Index listing specific styling
#index {
    @include container;
    @include grid(12,10);
    @include prefix(12,1);
    @include suffix(12,1);
    margin-bottom: 2em;
    @media #{$small} {
        @include grid(12,6);
        @include prefix(12,0);
        @include suffix(12,0);
    }
    @media #{$x-large} {
    }
    h3 {
        margin: 0;
        padding-bottom: .5em;
        @include font-rem(28);
        border-bottom: 1px solid lighten($black,70);
    }
    article {
        h2 {
            margin-bottom: 4px;
            @include font-rem(20);
            &.link-post {
                margin-bottom: 0px + $doc-line-height;
                margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
            }
        }
        p {
            @include font-rem(14);
        }
        p+p {
            text-indent: 0;
        }
    }
}

// Large feature header image
.image-wrap {
    position: relative;
    @include clearfix;
    &:after {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        left: 8%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: $bodycolor;
        @media #{$small} {
            left: 25%;
        }
        @media #{$large} {
            border-width: 20px;
        }
        @media #{$x-large} {
        }
    }
    img {
        width: 100%;
        height: auto;
    border-bottom: 1px solid #dedede;
        -ms-interpolation-mode: bicubic;
    }
    .headline-wrap {
        position: absolute;
        bottom: 25px;
        @include prefix(12,1);
        @media #{$small} {
            left: 25%;
            margin-left: 0;
        }
        @media #{$x-large} {
        }
        h1, h2 {
            color: $white;
            @include text-shadow(0 1px 2px rgba(0,0,0,.25));
        }
    }
}

// Post byline
.byline {
    clear: both;
    font-size: 80%;
}
.article-author-side,
.article-author-bottom {
  margin-top: 2em;
    h3 {
        margin-bottom: 0;
    }
    p {
        font-size: 80%;
        font-style: italic;
    }
    a, a:hover {
        border-bottom: 0 solid transparent;
    }
}

// Default social media links in author sidebar
.author-social {
  display: none;
  margin-bottom: 5px;
  @include font-rem(14);
  color: $black;
  &:visited {
    color: $black;
  }
  &:hover {
    @include scale(1.1);
  }
  &:active {
    @include translate(0, 2px);
  }
  .fa {
        margin-right: 5px;
    }
}

// Author sidebar
.article-author-side {
  @media #{$small} {
    display: block;
    @include grid(12,2);
    @include prefix(12,1);
    @include suffix(12,2);
    h3,
    p,
    .author-social {
      display: block;
      max-width: 250px;
    }
    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 20px;
    }
    .author-social {
      margin-bottom: 5px;
    }
  }
  @media #{$large} {
    @include grid(12,2);
    @include prefix(12,0.25);
    @include suffix(12,0.25);
    h3,
    .bio-photo,
    p,
    .author-social {
      max-width: 150px;
    }
  }
  @media #{$x-large} {

  }
}
/*Post content wrapper*/
.article-wrap {
    // Dotted line underlines for links
    margin-top: 2em;
    p > a {
        text-decoration: underline;
    }
}

/*side-tabs marking which section you're in*/
.side-tab-bash {
    h3 {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 2px;
        color: #745bab;
        position: fixed;
        top: 0.75em;
        left: 1em;
        text-align: center;
        margin: 0px;
        background-color: #ecf2f9;
        font-variant: small-caps;
        @include rounded(10px);
    }
    @media(max-width:950px) {
        display: none;
    }
    a {
        color: #745bab;
        &:visited {
            color: #745bab;
        }
        &:hover {
        color: #745bab;
        text-decoration: none;
        }
    }
}


.side-tab-R {
    h3 {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 2px;
        color: #0000cc;
        position: fixed;
        top: 0.75em;
        left: 1em;
        text-align: center;
        margin: 0px;
        background-color: #ecf2f9;
        font-variant: small-caps;
        @include rounded(10px);
    }
    @media(max-width:900px) {
        display: none;
    }
    a {
        color: #0000cc;
        &:visited {
            color: #0000cc;
        }
        &:hover {
            color: #0000cc;
            text-decoration: none;
        }
    }
}
.side-tab-amplicon {
    h3 {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 2px;
        color: #d64231;
        position: fixed;
        top: 0.75em;
        left: 1em;
        text-align: center;
        margin: 0px;
        background-color: #ecf2f9;
        font-variant: small-caps;
        @include rounded(10px);
    }
    @media(max-width:1225px) {
        display: none;
    }
    a {
        color: #d64231;
        &:visited {
            color: #d64231;
        }
        &:hover {
            color: #d64231;
            text-decoration: none;
        }
    }
}

.side-tab-genomics {
    h3 {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 2px;
        color: #5bab87;
        position: fixed;
        top: 0.75em;
        left: 1em;
        text-align: center;
        margin: 0px;
        background-color: #ecf2f9;
        font-variant: small-caps;
        @include rounded(10px);
    }
    @media(max-width:1050px) {
        display: none;
    }
    a {
        color: #5bab87;
        &:visited {
            color: #5bab87;
        }
        &:hover {
            color: #5bab87;
            text-decoration: none;
        }
    }
}


.side-tab-metagenomics {
    h3 {
//         width: 12%;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 2px;
        color: #5bab87;
        position: fixed;
        top: 0.75em;
        left: 1em;
        margin: 0px;
        background-color: #ecf2f9;
        font-variant: small-caps;
        @include rounded(10px);
        }
    a {
        color: #5bab87;
        &:visited {
            color: #5bab87;
            }
        &:hover {
            color: #5bab87;
            text-decoration: none;
            }
        }
}


// Table of contents
.toc {
    max-height: calc(100% - 4em);
    z-index: 105;
    overflow-y: auto;
    box-shadow: 6px 12px 34px 7px #909090;
    margin-bottom: 40px;
    background-color: #8A8A8A;
    @include rounded(5px);
    @media #{$large} {
        width: 15%;
        position: fixed;
        top: 2em;
        right: 2em;
    }
    header {
        background: #ecf2f9;
        padding: 0px;
    }
    h3 {
        margin: 0;
        padding: 5px 5px;
        font-size: 130%;
        font-family: "Helvetica Neue";
        color: $grey-color-dark;
        font-variant: small-caps;
        text-align: center;
    }
    ul {
        margin: 2px 0 0;
        padding: 0;
        line-height: 1;
    }
    li {
        display: block;
        margin: 0 0 1px 0;
        padding: 0;
        font-family: "Helvetica Neue";
        line-height: 1.05;
        text-align: left;
        font-size: 90%;
        font-weight: 500;
        list-style-type: none;
        &:last-child {
            border-bottom-width: 0;
        }
        a {
            padding: 10px;
            display: block;
            color: darken($grey-color-dark, 10);
            text-decoration: none;
            background: lighten(#ecf2f9, 3);
            @include opacity(0.85);
            @include transition(opacity 0.2s ease-in-out);
            &:hover {
                @include opacity(1);
            };
            &:last-child {
              border-bottom-width: 0;
            };
        }
        a.header-active {
            background-color: #deebf9;
        }
        ul {
            margin: 1px 0 0;
            &:last-child {
              border-bottom-width: 0;
            };
            li a {
                padding-left: 20px;
                &:last-child {
                  border-bottom-width: 0;
                };
              
            }
        }
    }
}

// TOC trigger for collapsing
#drawer {
    max-height: 100%;
    overflow: hidden;
    &.js-hidden {
        max-height: 0;
    }
}



//    Browser upgrade alert
//    ==========================================================================

.browser-upgrade {
  background: #000;
  text-align: center;
  margin: 0 0 2em 0;
  padding: 10px;
  text-align: center;
  color: $white;
  a {
    color: $white;
    border-bottom: 1px dotted $white;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}


/*toggle box*/
/*.toggle-tab {
    margin-bottom: 40px;
}

.toggle-header {
    display: block;
    clear: both;
    cursor: pointer;
}
.toggle-header strong {color: #2980b9 }

.toggle-header:after {
    content: " ▼";
}

.toggle-header.open:after {
    content: " ▲";
}

.toggle-content {
    display: none;
    margin-bottom: 20px;
}
*/

/* collapsible take two */
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  /*font-family: monospace;*/
  font-size: 1.1rem;
  /*text-transform: uppercase;*/
  /*text-align: center;*/

  padding: 0.5rem;
  margin-top: 7px;

  /*color: #A77B0E;*/
  background: #d8e5f3;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.5s ease-out;
}

.lbl-toggle:hover {
  color: #0c0fad;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  margin-bottom: 15px;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: #ecf2f9;
  border: 5px solid #d8e5f3;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem .5rem;
}