<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="page">

    {% include _header.html %}
    {% include _browser-upgrade.html %}

    <section id="home">
      <div class="intro-header_landing">
  
        <div class="container_landing">
    
          <div class="row_landing">
            <div class="col-lg-12_landing">
              <div class="intro-message_landing">
                <h1>Welcome!<br></h1>
                <h3><br></h3>
                <h3>This site aims to be a useful resource for bioinformatics beginners.<br>
                <br>
                Feel free to jump right in with the section most relevant to you,<br>
                and if you're not sure, then the place to start is definitely Unix 🙂</h3>
                <h6><br></h6>
                
                <ul class="list-inline intro-link-buttons">                  
                    <li><a href="/unix/" class="btn_home btn-default_home btn-lg_home"> <span class="network-name_landing" style="">Unix (command line)</span></a></li>
                    <li><a href="/R/" class="btn_home btn-default_home btn-lg_home"> <span class="network-name_landing">R</span></a></li>
                    <li><a href="/amplicon/" class="btn_home btn-default_home btn-lg_home"> <span class="network-name_landing">Amplicon analysis</span></a></li>
                    <li><a href="/genomics/" class="btn_home btn-default_home btn-lg_home"> <span class="network-name_landing">Genomics</span></a></li>
                </ul>
              </div>
            </div>
          </div>
      
        </div>
      </div>
    </section>

    {% include footer.html %}

  </body>

</html>