<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include _head.html %}

  <body>

    {% include _header.html %}
    {% include _browser-upgrade.html %}
    
    <div class="wrapper">
      <div class="pull-right">{% include _drop-down-menu.html %}</div>
    </div>

    <main class="page-content" aria-label="Content">

      <div class="wrapper">

    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

        {{ content }}

      </div>
    </main>

    {% include _scripts.html %}
    {% include footer.html %}

  </body>

</html>